# Dependency directories
node_modules/

# Environment variables
.env

# Codecov report
/coverage

# Build output
/dist

# Logs
logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.vercel
